---
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

const name = await Astro.session?.get("name");
---
{name && <p>Welcome {name}</p>}
<form method="post" action={actions.setName}>
    <label>
        Name
        <input required type="text" name="name" />
    </label>
    <button>Submit</button>
</form>
